WEBHOOK_URL=http://localhost:5680/
N8N_SMTP_HOST=smtp.example.com
N8N_SMTP_PORT=465
N8N_SMTP_USER=user@example.com
N8N_SMTP_PASS=password
N8N_SMTP_SENDER="n8n <user@example.com>"
DOCKER_USER="user@example.com"
DOCKER_PASS="password"
DB_POSTGRESDB_USER=n8n
DB_POSTGRESDB_SCHEMA=n8n
DB_POSTGRESDB_PASSWORD=n8n_password
N8N_RUNNERS_AUTH_TOKEN=SECRET-RUNNERS
N8N_VOLUME_PATH=/home/user/n8n/n8n_playwright
DB_VOLUME_PATH=/home/user/n8n/pg_data_playwright